<!DOCTYPE html>
<html>
	<head>
		<title>Add Form</title>
	</head>
	<body>
		<h1>Variant Form</h1>
		<form th:action="@{/variant/save}" method="post" th:object="${variant}">
		<input type="hidden" name="id" th:field="*{id}" >
		<table border="2">
			<tr>
				<td>Category</td>
				<td>
					<select th:field="*{categoryId}">
							<option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.categoryName}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td> Variant Initial</td>
				<td><input type="text" name="initial" th:field ="*{initial}"></td>
			</tr>
			<tr>
				<td>Variant Name</td>
				<td><input type="text" name="name" th:field ="*{name}"></td>
			</tr>
			<tr>
				<td>Is Active</td>
				<td><input type="checkbox" name="active" th:field ="*{active}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save"></td>
			</tr>
		</table>
		</form>
	</body>
</html>