<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}">

<head>
	<title>Variant Page</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Variant</h1>

		<button onclick="window.location.href='/variant/addform'">Create</button>

		<table border="3">
			<thead>
				<tr>
					<th>Category_id</th>
					<th>Initial</th>
					<th>Variant Name</th>
					<th>Category Name</th>
					<th>Active</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item:${listVariant}">
					<td th:text="${item.categoryId}"></td>
					<td th:text="${item.initial}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.category.categoryName}"></td>
					<td th:text="${item.active}"></td>
					<td><a th:href="@{/variant/edit/{id}(id=${item.id})}">Edit</a></td>
					<td><a th:href="@{/variant/delete/{id}(id=${item.id})}"
							onclick="return confirm('Are you sure?')">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>